<div>
    <div class="container"  >
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover ">
                        <tr>
                            <th class="text-center">table</th>
                            <th class="text-center">state</th>
                        </tr>
                        <tr ng-repeat="table in tables| orderBy : 'tableName'">
                            <td class="text-center"><a ng-click="goToOrder(table)">{{table.tableName}}</a></td>
                            <td class="text-center">{{table.state}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container"  >
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover ">
                        <tr>
                            <th class="text-center">table</th>
                            <th class="text-center">state</th>
                        </tr>
                        <tr ng-repeat="order in finishedOrders">
                            <td class="text-center">{{order.orderId}}</td>
                            <td class="text-center">{{order.cafeTable.tableName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

