<table class="tab-content table table-bordered table-responsive table-striped">
    <thead style="background-color: lightgray;"  >
        <tr>
            <td>الاسم</td>
            <td>عدد</td>
        </tr>  
    </thead>
    <tbody>
        {{order}}
        <tr ng-repeat="orderLine in sheshaOrder.orderlines" style="background-color: #e4b9c0">
            <td ng-init="OuterIndex = $index"  >{{orderLine.item.itemName}}</td>
            <td> <button ng-click="removeOneShesha(OuterIndex)" class="button">-</button>{{orderLine.quantity}}<button ng-click="addMoreShesha(OuterIndex)" class="button">+</button></td>
        </tr>
    </tbody>
</table>
<button class="btn" ng-click="" data-toggle="modal" data-target="#feedback_form">حفظ الاوردر</button>
<div class="modal fade" id="feedback_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel">الاوردر</h4>
                    <h4 class="modal-title" id="myModalLabel">رقم الطاوله</h4>
                </center>
            </div>
            <div class="modal-body">
                <div class="row tab-content">
                    <table class="tab-content table-bordered table-responsive table-striped col-md-12">
                        <tr >
                            <td>الاسم </td>
                            <td>العدد</td>
                        </tr>
                        <tr ng-repeat="orderDeatils in sheshaOrder.orderlines" ng-if="orderDeatils.quantity > 0" >
                            <td >{{orderDeatils.item.itemName}}</td>
                            <td >{{orderDeatils.quantity}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default hd-blue-btn" data-dismiss="modal">الغاء</button>
                <button type="button" class="btn btn-default hd-blue-btn" data-dismiss="modal">تاكيد </button>
            </div>
        </div>
    </div>
</div>
